  #Email:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  #Email:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  #Email:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  #Email:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  #github {
    color: blueviolet;
    background-color: transparent;
    text-decoration: underline;
  }




  td {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
  }

/* INLINE-BLOCK */

/* div{
  width: 30%;
  display: inline-block;
} */

/* FLEX */

/* .mycontainer {
   display: flex;
 }

  .mycontainer >div {
    width: 33%;
  } */

/* GRID */

/* .grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
} */